extends layout

block content
  h1 Cadastro #{cadastro.id}
  p Nome: #{cadastro.nome}
  p Sobrenome: #{cadastro.sobrenome}
  p Telefone: #{cadastro.telefone}
  p Endereço: #{cadastro.endereco}
  p Cidade: #{cadastro.cidade}
  p Estado: #{cadastro.estado}